.header{
  position: relative;
  min-height: 100vh;
  background:url(../pic/header-bgc-pic.jpg) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;


  &__nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;


    .brand{
      font-size: 48px;
      color:  var(--whitePrimary);

    }

    .nav{
      display: flex;
      align-items: center;
      gap: 50px;
      color:  var(--whitePrimary);


      .nav__btn{
        color:  var(--whitePrimary);
        background-color: transparent;
        border: none;
        font-size: 24px;
      }

      .nav__btn:last-child{
        align-self: stretch;
        border: 1px solid;
        border-radius: 20px;
        background-color:  var(--whitePrimary);
        color: #3E86F5;
        padding: 14px 44px;
      }
    }
  }
}

.header::before{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--blackBgcPrimary);
  content: "";
}

.header__heading{
  max-width: 820px;
  color: var(--whitePrimary);
  position: relative;
  &-top{
    margin-bottom: 40px;
    text-align: center;
    color: var(--whitePrimary);
    font-weight: 600;
    font-size: 64px;
  }

  &-bottom{
    text-align: center;
    color: var(--whitePrimary);
    font-size: 24px;
    line-height: 48px;
    font-weight: 500;
  }
}