.promo{
  display: flex;
  justify-content: flex-end;
  // gap: 30px;
  height: 100vh;
  // padding-block: 100px;

  &__img-wrapper{
    position: relative;
    margin-right: 100px;
    margin-left: 0;
    height: 100%;

    .promo__img{
      width: 100%;
      border-radius: 75px;
      height: 100%;
      object-fit: cover;
    }

    .promo__img-bracket{
      position: absolute;
      padding: 30px;
      background-color: var(--whitePrimary);
      border-radius: 35px;
      min-width: 180px;
      p{
        text-align: center;
        line-height: 1;
      }

      p:first-child{
        font-size: 36px;
        color: var(--greenPrimary);
        font-weight: 600;
      }

      p:last-child{
        font-size: 18px;
        font-weight: 300;
      }
    }

    .promo__img-bracket:nth-of-type(1){
      top: 10%;
      left: 100%;
      transform: translateX(-50%);
    }
    .promo__img-bracket:nth-of-type(2){
      top: 50%;
      left: 0;
      transform: translateX(-50%);

    }
    .promo__img-bracket:nth-of-type(3){
      top: 70%;
      left: 100%;
      transform: translateX(-50%);
    }

  }

  &__content{
    width: 50%;
    align-self: center;

    &-heading{
      font-size: 48px;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    &-text{
      font-size: 20px;
      line-height: 2;
      color: var(--blackBgcPrimary);
      margin-bottom: 40px;

    }

    &-btn{
      font-size: 20px;
      padding: 25px 35px;
      background-color: var(--greenPrimary);
      border: none;
      border-radius: 10px;
      color: var(--whitePrimary);
    }
  }

}